*{
    margin: 0;
    padding: 0;
}
header{
    box-shadow: 0px 1px 5px rgb(226, 226, 226);
    position: sticky ;
    top: 0px;
    background-color: white;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.left img{
    width: 70px;
}
.left{
    display: flex;
    margin-left: 50px;
    align-items: center;
    /* border: 2px solid red; */
}
.left ul{
    display: flex;
    list-style: none;
    /* border: 2px solid green; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: rgb(52, 52, 52);
}
.left ul li{
    padding: 15px;
}
.right{
    display: flex;
    align-items: center;
}
.right input{
    height: 30px;
}
.right .searchbar input{
    border: none;
    background-color:  rgb(216, 216, 216);
    padding: 0px 10px;
}
.searchbar{
    background-color: rgb(216, 216, 216);
    width: 50vh;
    border-radius: 5px;
    margin: 0px 10px;
}
.right .searchbar i{
    padding: 0px 10px;
}
.navicon{
    padding: 0px 20px;
}
.icondiv span{
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.icondiv{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
.offer img{
    width: 100%;
    margin-top: 30px;
}
.casrol{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* animation: slider 1s linear infinite; */
    animation-delay: 10s;
}

@keyframes slider {
    from{
        margin-left: 3vw; 
    }
    to{
        margin-left: 200vw;
    }
    
}
.sponser img{
    width: 100%;
    margin-top: 40px;
}
.coupons p {
    font-family: 'Caveat', cursive;
font-family: 'Foldit', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 30px;
text-align: center;
padding-top: 10px;
}
.coupons img{
    padding-top: 10px;
}
.deals p {
    font-family: 'Caveat', cursive;
font-family: 'Foldit', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 30px;
text-align: center;
padding-top: 10px;
}
.dealsgall{
    display: grid;
    grid-template-columns: 222px 222px 222px 222px 222px 222px;
}
.dealsgall img{
    width: 230px;
    /* border: 2px solid green; */
}
.category p {
    font-family: 'Caveat', cursive;
font-family: 'Foldit', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 30px;
text-align: center;
padding-top: 10px;
}

.catgal{
    display: grid;
    grid-template-columns: 222px 222px 222px 222px 222px 222px;
    justify-content: center;
    align-items: center;
    gap: 0px 0px;
}
.catgal img{
    width: 220px;
    /* border: 2px solid green; */
}